# Site (MkDocs + Material)
markdown-grid-tables
markdown-exec[ansi]
mkdocs-badges
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
mkdocs-jupyter
termynal

# Código dos exercícios
numpy>=2.0
pandas>=2.2
matplotlib>=3.8
scikit-learn>=1.4
